

@font-face {
font-family: book;
src:url("../FreightSans/FreightSans-Book.ttf");
}

@font-face {
font-family: light;
src:url("../FreightSans/FreightSans-Light.ttf");
}

@font-face {
font-family: media;
src:url("../FreightSans/FreightSans-Medium.ttf");
}

body{
font-family: book;

}

p{
font-size: 15px;
font-weight:bold;

}

ul{
margin: 0;
padding: 0;
}

.consulta_presupuesto{
background-image:url("../img/consulta_presupuesto.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-color: #E8E8E8;
width: 20%;	
height: 20%;
right: 28%;
top: 95%;
position: absolute;
}

.consulta_presupuesto_ul{
top: 50%;
position: absolute;
list-style: none;
font-size: 0.7rem;
}


.ingresos_inba{
background-image:url("../img/ingresos_inba.png"); 
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-color: #E8E8E8;
width: 20%;	
height: 20%;
right: 28%;
top: 45%;
position: absolute;
}

.ingresos_inba_ul{
top: 75%;
position: absolute;
list-style: none;
font-size: 0.7rem;
}


.patronato{
background-image:url("../img/patronato.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-color: #E8E8E8;
width: 20%;
height: 20%;	
left: 10%;
top: 20%;
position: absolute;
}

.patronato_ul{
left: 1%;
top: 60%;
list-style: none;
font-size: 0.7rem;
position: absolute;
}

.administracion_del_sistema{
background-image:url("../img/sistema.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-color: #E8E8E8;
width: 20%;	
height: 20%;
left: 10%;
top: 120%; 
position: absolute;
}

.administracion_del_sistema_ul{
top: 60%;
position: absolute;
list-style: none;
font-size: 0.7rem;
}

.donativos{
background-image:url("../img/donativo.png");
background-color: #E8E8E8 ;
background-repeat:no-repeat;
background-size:contain;
background-position:center;
width: 20%;
height: 20%;	
left: 10%;
top: 45%; 
position: absolute;
}

.donativos_ul{	
top: 80%;
list-style: none;
font-size: 0.7rem;
position: absolute;
}

.catalogos{
background-image:url("../img/catalogos.png");
background-color: #E8E8E8 ;
background-repeat:no-repeat;
background-size:contain;
background-position:center;
width: 20%;	
height: 20%;
right: 28%;
top: 70%;
position: absolute;
}

.catalogos_ul{
top: 70%;
position: absolute;
list-style: none;
font-size: 0.7rem;
}

.documentos{
background-image:url("../img/documentos.png");
background-color: #E8E8E8;
background-repeat:no-repeat;
background-size:contain;
background-position:center;
width: 20%;	
height: 20%;
left: 10%;
top: 70%;
position: absolute;
}

.documentos_ul{
top: 70%;
position: absolute;
list-style: none;
font-size: 0.7rem;
}

.gestion_de_presupuesto{
background-image:url("../img/presupuesto_area.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-color: #E8E8E8;
width: 20%;
right: 28%;
top: 20%;
height: 20%;
position: absolute;
}

.gestion_de_presupuesto_ul{
top: 45%;
position: absolute;
list-style: none; 
font-size: 0.7rem;
}

.presupuestos_por_area{
background-image:url("../img/presupuesto_area.png");
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-color: #E8E8E8;
width: 20%;
height: 20%;	
left: 10%;
top: 95%;
position: absolute;
}

.presupuestos_por_area_ul{
top: 70%;
position: absolute;
list-style: none;
font-size: 0.7rem;
}


.liston {
	position: absolute;
	background: #911100;
	display: inline-flex;
	height: 8%;
	margin-top: 1%;
	vertical-align: middle;
	color:#fff;
	width: 75%;
	margin-left: .5%;
	font-size: 25px;
	padding-left: 1%;
	padding-top: .7%;