*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
font-family: FreightSans;
src:url(tipografia/FreightSans-MediumItalicSC.ttf);
}

.body_login{
	line-height: 8px;
	min-height: 100vh;
	font-family: FreightSans;
	display: flex;

}

.form_login{
	margin: auto;
	width: 30%;
	max-width: 200px;
	padding: 3px;
	

}

input{
	display: block;
	width: 100%;
	margin: 5px 0;
	font-size: 12px;
	line-height: 20px;
}



.boton {
	background: #899C84;
	border: 0;
	color: white;
	border-radius: 13px;
	margin-bottom: 0;
	line-height: 20px;
	width: 100%;

}

.boton :active{
	transform: scale(0.95);
}

.menu{
	display: none;
}


