@font-face {
font-family: Book;
src:url("../FreightSans/FreightSans-Book.ttf");
}

body{
	font-family: Book;
}

.caja {
	position: absolute;
	left: 2%;
	right: 5%;
	height: 99%;
	display:flex;
}
.liston {
	position: absolute;
	background: #db7631;
	display: inline-flex;
	height: 8%;
	margin-top: 1%;
	vertical-align: middle;
	color:#fff;
	width: 75%;
	margin-left: .5%;
	font-size: 25px;
	padding-left: 1%;
	padding-top: .7%;

}
.tablas{
	border-radius: 7px;
	position: absolute;
	left: .5%;
	bottom: 2%;
	width: 68%;
	height: 84%;
	display: flex;
	z-index: 500;
}

.ingreso{
	position: absolute;
	width: 49%;
	height: 55%;
	background: rgba(0,0,0,0.1); 
	font-weight:bold;


}

.ingr{
	background: #578547;
	display: flex;
	height: 15%;
	padding-left: 5%;
	padding-bottom:18%
	font-size:25px;
	font-weight:bold;

}

.ingr_INBA{
	background: #badeba;
	display: flex;
	height: 15%;
	padding-left: 5%;

}

.ingr_tabla{
	overflow-y: scroll;
	height: 70%;
	font-size: 11.6px;

}

.egreso{
	left: 50%;
	position: absolute;
	width: 50%;
	height: 55%;
	background: rgba(0,0,0,0.1); 
	font-weight:bold;

}

.egre{
	background: #578547;
	display: flex;
	height: 15%;
	padding-left: 5%;
	padding-bottom:20%
	font-size:25px;
	font-weight:bold;

}

.egre_INBA{
	background: #badeba;
	display: flex;
	height: 15%;
	padding-left: 5%;
}

.egre_tabla{
	overflow-y: scroll;
	height: 70%;
	font-size: 10.5px;
}

.patronato{
	position: absolute;
	width: 99%;
	height: 55%;
	background: rgba(0,0,0,0.1); 
	top:56%;
	font-weight:bold;

}

.ingr_patronato{
	background: #badeba;
	display: flex;
	height: 15%;
	padding-left: 5%;
}

.patronato_tabla{
	overflow-y: scroll;
	height: 99.9%;
	font-size: 12px;
}

.grafico{
	border-radius: 7px;
	position: absolute;
	right: 2%;
	left:66%;
	width: 40%;
	height: 60%;
	top:14%;
	display: flex;
	flex:auto;
}

#cantidad{
	background: #616b66;
	width: 30%;
	font-weight:bold;
}

#fecha{
	background: #577557;
	width: 35%;
	font-weight:bold;
}

#Documento{
	background: #b0e8b0;
	font-weight:bold;
} 

.icon-libreoffice{
	font-size: 1rem;
	text-align: center;
}

.ingresovegre{
	position: absolute;
	width: 25%;
	height: 28%;
	background: rgba(0,0,0,0.1); 
	top:15%;
	font-weight:bold;
}

.ingrvegre{
	background: #578547;
	top: 105%;
	font-weight:bold;
	display: inline-flex;
}

.ingrvegre_tabla{
	height: 110%;
	width: 100%;
	font-size: 10.5px;
	position: absolute;
}

.ingresovegre2016{
	position: absolute;
	width: 25%;
	height: 30%;
	left:55%;
	background: rgba(0,0,0,0.1); 
	top:15%;
	font-weight:bold;
}

.ingrvegre2016{
	background: #578547;
	top: 105%;
	font-weight:bold;
	display: inline-flex;
}

.ingrvegre_tabla2016{
	height: 110%;
	width: 100%;
	font-size: 10.5px;
	
	position: absolute;
}

.ingresovegre2015{
	position: absolute;
	width: 25%;
	height: 30%;
	left:55%;
	background: rgba(0,0,0,0.1); 
	top:50%;
	font-weight:bold;
}

.ingrvegre2015{
	background: #578547;
	top: 105%;
	font-weight:bold;
	display: inline-flex;
}

.ingrvegre_tabla2015{
	height: 110%;
	width: 100%;
	font-size: 10.5px;
	
	position: absolute;
}

.siguiente{
	position: absolute;
	top:115%;
	left: 60%;
}

.siguiente1{
	position: absolute;
	top: 85%;
	left: 70%;
}

.principal1{
	position: absolute;
	top: 85%;
	left: 40%;
}

.siguiente2{
	position: absolute;
	top: 85%;
	left: 70%;
}

.anterior2{
	position: absolute;
	top: 85%;
	left: 15%;
}

.principal2{
	position: absolute;
	top: 85%;
	left: 40%;
}

.grafico2{
	border-radius: 7px;
	position: absolute;
	right: 2%;
	left:25%;
	width: 35%;
	height: 40%;
	top:12%;
	display: flex;
	flex:auto;
	z-index:-500;