@import "../media/css/demo_page.css";
@import "../media/css/demo_table.css";
@import "http://www.datatables.net/media/css/site_jui.ccss";
@import "../media/css/demo_table_jui.css";

@import "../media/css/themes/sie/jquery-ui.css";
/*
 * Override styles needed due to the mix of three different CSS sources! For proper examples
 * please see the themes example in the 'Examples' section of this site
 */
.dataTables_info { width: 40%; padding-top: 0; }
.dataTables_paginate {width: 55%; padding-top: 0; }
.ui-button { margin-right: .5em; margin-left: 1em;}
.css_right { float: right; }
tfoot th input { width: 90% }
#example_wrapper .fg-toolbar { font-size: 0.8em }
#theme_links span { float: left; padding: 2px 10px; }
tr.odd { background-color: #F7F7DE; }
tr.even { background-color: white; }
tr.odd td.sorting_1 { background-color: #f7f7de; }
tr.odd td.sorting_2 { background-color: white; }
tr.odd td.sorting_3 { background-color: white; }
tr.even td.sorting_1 { background-color: white; }
tr.even td.sorting_2 { background-color: white; }
tr.even td.sorting_3 { background-color: white; }
.dataTable {width: 100%; text-align=right; }
.contenido {width: 95%; margin-left: 2%; text-align=right; }
tfoot { display: table-header-group; }