body{
background-color:#E5E5E5;
font-family:Verdana;
font-size:14px;
padding:0px;
margin:0px;
}

.SizeText{
 font-size:13px; 	
}

#Perfil{
	 font-size:12px;
	 background: #99BCC5;
	 height:40px;
}

.encabezado{
	background-color:#6C7EA1;
	background-image:url('../img/fondo.jpg');
	height:50px;
	padding:0px;
	margin:0px;
}
.titulo_encabezado{
	color:#fff;
	float:right;
	padding-right:20px;
	padding-top:10px;
	font-size:22px;
	font-weight:100;
	letter-spacing:2px;
	word-spacing:5px;
	
}
.div_menu{
	background-color:#99BCC5;
	color:#513F3D;
	padding:0px 0px;
	margin:0px;
	
}
.menu{
	list-style-type:none;
	padding:0px;
	margin:0px;
	font-size:10px;
	
}

.menu ul{
	
	padding:0px;
	margin:0px;
	list-style-type:none;
}

.menu li{
 display:inline;
 list-style-type:none;
}

.menu li a{
	text-decoration:none;
 	color:#513F3D;
 	padding:0px 2px;
 	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	text-align:center;
}

.menu_catalogos{
	background-color:#8598AC;
	list-style-type:none;
	padding:0px;
	margin:0px;
	width:90%;
	padding-top:20px;
 	padding-bottom:20px;
 	-webkit-box-shadow: 10px 5px 20px #333;  
   -moz-box-shadow: 10px 5px 20px #333;  
    box-shadow: 10px 5px 20px #333;
}

.menu_catalogos li{
	background-color:#6C7EA1;
	width:80%;
 	text-align:center;
 	padding-top:5px;
 	padding-bottom:5px;
 	border-bottom:1px solid #CBD0D6;
 	margin-left:10%;
 	margin-top:3px;
 	margin-bottom:3px;
 	
}


.menu_catalogos li a{
	text-align:center;
	text-decoration:none;
 	color:#FFF;
 	padding:5px 5px;
 	display:block;
 	width:250px;
 	height:100%;
 	background-color:#6C7EA1;
 }
.menu_catalogos li a:hover{
	background-color:#5B6E91;
	text-shadow: 0.6ex 0.6ex 0.2ex #333;
 }

.btn{
background-color:#8598AC;
color:white;
font-size:14px;
text-decoration:none;
padding:3px;
border-top:1px solid #ccc;
border-left:1px solid #ccc;
}

.link{
	text-decoration: none;
	color:white;
}

.tb_cat{
color:#513F3D;
border:1px solid #8598AC;
-webkit-box-shadow: 10px 5px 20px #333;  
   -moz-box-shadow: 10px 5px 20px #333;  
    box-shadow: 10px 5px 20px #333;
}

.tb_presupuesto{
color:#513F3D;
border:1px solid #8598AC;
-webkit-box-shadow: 10px 5px 20px #333;  
   -moz-box-shadow: 10px 5px 20px #333;  
    box-shadow: 10px 5px 20px #333;
  font-family:Verdana;
  font-size:10.3px;
  	
}

.tb_presupuesto th{
  background-color:#99BCC5;
  color:white;
  font-weight:300;
  font-size:11.3px;
  	
}

.tb_presupuestoResumen{
color:#513F3D;
border:1px solid #8598AC;
-webkit-box-shadow: 10px 5px 20px #333;  
   -moz-box-shadow: 10px 5px 20px #333;  
    box-shadow: 10px 5px 20px #333;
  font-family:Verdana;
  font-size:12px;
  	
}

.tb_presupuestoResumen th{
  background-color:#99BCC5;
  color:white;
  font-weight:300;
  font-size:13px;
  	
}

.tb_cat th{
background-color:#99BCC5;
color:white;
font-weight:300;
font-size:13px;
letter-spacing:3px;
}

.tb_add_cat{
background-color:#99BCC5;
color:#513F3D;
-webkit-box-shadow: 10px 2px 20px #333;  
-moz-box-shadow: 10px 2px 20px #333;  
 box-shadow: 10px 2px 20px #333;
}

.titulo_cat{
text-align:center;
color:#657789;
font-weight:100;
letter-spacing:3px;
}

.linkTitulo_cat1{
color:#657789;
text-decoration: none;	
}

.titulo_cat1{
text-align:left;
color:#657789;
font-weight:100;
letter-spacing:3px;
}

.titulo_cat2{
text-align:right;
color:#657789;
font-weight:100;
letter-spacing:3px;
}

.liga_cat{
letter-spacing:3px;
color:#657789;
text-decoration:underline;
}
.liga_cat:hover{
color:#44515E;
text-decoration:underline;
}
.liga_btn{
background-color:#8598AC;
color:white;
font-size:14px;
padding:5px;
text-decoration:none;
}

.msj{
	width:50%;
	margin:auto;
	text-align: left;
	font-size: 12px;
	padding: 10px 40px 10px 40px;
	margin: 20px auto;
	-webkit-box-shadow: 5px 5px 10px #333;  
   -moz-box-shadow: 5px 5px 10px #333;  
    box-shadow: 5px 5px 10px #333;     
	-moz-border-radius: 5px;
	color: #FFF;
	background: #8F8F8F left no-repeat;
}

.footer{
margin-top:50px;
}


.myWarning{
	color:RED;
}

.myBody{
	background-color: #005698;
	color: BLACK;
}

.Error{
	color: RED;
}
