* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {background:;}
 
.menu_bar {
	display:none;
}
 
header {
	width: 99.5%;
}
 
header nav {
	background:rgba(0,0,0,0.5);
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
	display: flex;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#E6344A;
}
 
header nav ul li a {
	color:#fff;
	display:flex;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	border-bottom: 1px solid rgba(255,255,255,.5);
	
}
 
header nav ul li .children li a {
	display: block;
}
 
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 27px;
	}
 
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
	}
	
.lateral{
position: fixed;
right:0;
top: 35%;
z-index: 2000;
margin-right: 0.5%;
}

.lateral ul {
	list-style: none;
}

.lateral ul li a {
	display: inline-block;
	color: #fff;
	background-color: #000;
	padding:  20px 15px;
	text-decoration: none;
	font-size: 20px; 
}

.lateral ul li .icon-home:hover {background:#006168;}
.lateral ul li .icon-books:hover {background:#911100;}
.lateral ul li .icon-stats-bars:hover {background:#db7631;}
.lateral ul li .icon-exit:hover {background:#006168;}

.lateral ul li a{
	background-color: rgba(0,0,0,0.4);
}