.lateral{
position: fixed;
right:0;
top: 35%;
z-index: 2000;
margin-right: 0.5%;
}

.lateral ul {
	list-style: none;
}

.lateral ul li a {
	display: inline-block;
	color: #fff;
	background-color: #000;
	padding:  20px 15px;
	text-decoration: none;
	font-size: 20px; 
}

.lateral ul li .icon-home:hover {background:#006168;}
.lateral ul li .icon-books:hover {background:#911100;}
.lateral ul li .icon-stats-bars:hover {background:#db7631;}
.lateral ul li .icon-exit:hover {background:#006168;}

.lateral ul li a{
	background-color: rgba(0,0,0,0.4);
}