@font-face {
font-family: Book;
src:url("../FreightSans/FreightSans-Book.ttf");
}

body{
	font-family: Book;
}

.caja {
	position: absolute;
	left: 2%;
	right: 5%;
	height: 99%;
	display:flex;
}
.liston {
	position: absolute;
	background: #db7631;
	display: inline-flex;
	height: 8%;
	margin-top: 1%;
	vertical-align: middle;
	color:#fff;
	width: 75%;
	margin-left: .5%;
	font-size: 25px;
	padding-left: 1%;
	padding-top: .7%;

}
.tablas{
	border-radius: 7px;
	position: absolute;
	left: .5%;
	bottom: 2%;
	width: 68%;
	height: 84%;
	display: flex;
	z-index: 500;
}

.ingreso{
	position: absolute;
	width: 49%;
	height: 55%;
	background: rgba(0,0,0,0.1); 
	font-weight:bold;


}

.ingr{].
	background: #578547;
	display: flex;
	height: 15%;
	padding-left: 5%;
	padding-bottom:18%
	font-size:25px;
	font-weight:bold;

}

.ingr_INBA{
	background: #badeba;
	display: flex;
	height: 15%;
	padding-left: 5%;

}

.ingr_tabla{
	overflow-y: scroll;
	height: 70%;
	font-size: 11.6px;

}

.egreso{
	left: 50%;
	position: absolute;
	width: 50%;
	height: 55%;
	background: rgba(0,0,0,0.1); 
	font-weight:bold;

}

.egre{
	background: #578547;
	display: flex;
	height: 15%;
	padding-left: 5%;
	padding-bottom:20%
	font-size:25px;
	font-weight:bold;

}

.egre_INBA{
	background: #badeba;
	display: flex;
	height: 15%;
	padding-left: 5%;
}

.egre_tabla{
	overflow-y: scroll;
	height: 70%;
	font-size: 10.5px;
}

.patronato{
	position: absolute;
	width: 99%;
	height: 55%;
	background: rgba(0,0,0,0.1); 
	top:56%;
	font-weight:bold;

}

.ingr_patronato{
	background: #badeba;
	display: flex;
	height: 15%;
	padding-left: 5%;
}

.patronato_tabla{
	overflow-y: scroll;
	height: 99.9%;
	font-size: 12px;
}

.grafico{
	border-radius: 7px;
	position: absolute;
	right: 2%;
	left:66%;
	width: 40%;
	height: 60%;
	top:14%;
	display: flex;
	flex:auto;
}

#cantidad{
	background: #616b66;
	width: 30%;
}

#fecha{
	background: #577557;
	width: 35%;
}

#Documento{
	background: #b0e8b0;
} 