.menu ul{
	   list-style: none;
	   padding: 0;
	   background: #DAEADB;
	}

ul #operacion{
	  left: 140px;
	  top:20px;
}

ul #proyectos{
	  left: 140px;
	  top:40px;
}
 	
 	
.menu ul ul ul{
	  left: 140px;
	  top:0px;
	}	
	

.menu li{
	   float: left;
	}

.menu li li{
	  float: none;
 }
	

.menu ul a{
	   padding-top: 10px;
	}

.menu a{
	  display: block;
	  width: 150px;
	  height: 30px;
	  background: #DAEADB;
	  color: #fff;
	  text-decoration: none;
	  text-align: center;
	  font-size:14px;
	  font-family:arial, verdana, sans-serif;
	   padding-left: 0;
	   padding-right: 0;
	}
	
.menu li li a{
	   font-size:12px;
	   text-align: left;
	   height: 20px;
	   padding-top: 0;
	}	
	
.menu li li a:hover{
	    background: #DAEADB; 
	}
	
.menu li li a{
      background: #96AE97; 
	}
