.TituloCartaConst{
   background: #E5E5E5;
	color: BLACK;
	height:90px;
	width:950px;
	
}

.Resaltar{
	background: #953735;
	color: WHITE;
}

.Contenido{
  font-family:Arial;
  font-size:13px;
}

.CabezaraINA{
	 font-family: Tahoma;
	 font-size: 9pt;
	 font-weight: bold;
}

.TablaTarjeta{
	border-style: double;
	border-color: #0000FF;
	border-spacing: 1px;
}


.ResaltarTarjeta{
    font-family: Tahoma;
	 font-size: 6.5pt;
	 font-weight: bold;
	 background-color: #E5E5E5;
	 border-style: solid;
	 border-color: #FF0000;	 
}

.FechaDesTarjeta{
	 font-family: Tahoma;
	 font-size: 8pt;
	 font-weight: bold;
	 background-color: #E5E5E5;
	 border-style: solid;
	 border-color: #FF0000;
}

.TarjetaFecha{
	font-family: Tahoma;
	 font-size: 8pt;
	 font-weight: bold;
	 border-style: solid;
	 border-color: #FF0000;
}
.TarjetaDatos{
	font-family: Tahoma;
	 font-size: 9pt;
	 font-weight: bold;
	 background-color: #E5E5E5;
	 border-style: solid;
	 border-color: #FF0000;	
}

.Nota{
	font-size: 6.5pt;
	font-family: Tahoma;
	
}

.ContenidoCarta{
	font-size: 9pt;
	font-family: Tahoma; 
}


#descPresupuesto{
	background-color: #A4A4A4;
	
}




@media screen {
	.page-break	{ height:10px; background:url(page-break.gif) 0 center repeat-x; border-top:1px dotted #999; margin-bottom:13px; }
}
@media print {
	.page-break { height:0; page-break-before:always; margin:0; border-top:none; }
}

