*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
font-family: FreightSans;
src:url(tipografia/FreightSans-MediumItalicSC.ttf);

}


header {
	margin-top: 10px;
	margin-right: 5%;
	width: 100%;
	height: 20%;
	overflow: hidden;
	position: relative;
}

nav {
	top: -20px;
	position: absolute;
	left: 20%;
	right: 0;
	margin: 20px;
	max-width: 1000px;
	width: 100%;
}

nav ul {
	list-style: none;
}

nav > ul {
	display: table;
	width: 100%;
	background: #000;
	position: absolute;
	background: rgba(0,0,0,0.4);
}

nav > ul > li{
	display: table-cell;
}

nav > ul > li > ul > li{
	display: inline-block;
	position: relative;

}

/*Sub Menu Directivas */

nav > ul > li:hover > ul{
	display: block;
	height: 160%;
}

nav > ul > li > ul {
	display: inline-block;
	position: absolute;
	background: #000;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: rgba(0,0,0,0.6);
}

/*Termina Sub Menu Directivas */


nav > ul li a {
	font-family: FreightSans;
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}



.uno:hover {
	background: #808080;
	
}

.dos:hover {
	background: #5b718c;
}
.tres:hover {
	background: #7b8456;
}

.cuatro:hover {
	background: #b52424;
}

#uno {
	left: 72%;
	font-size: 13px;
}

#dos {
	left: 14%;
	font-size: 13px;
}
#tres {
	left: 46%;
	font-size: 13px;
}

#cuatro {
	left: 27%;
	font-size: 13px;
}




nav > ul > li > a span {
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > a span .icon {
	display: block;
	line-height: 60px;
	font-size: 30px;
}

nav > ul > li > a:hover > span{
	top: 0;
}

/*colores*/

nav ul li a .primero {
	background: #808080;
}

nav ul li a .segundo {
	background: #5b718c;
}

nav ul li a .tercero {
	background: #7b8456;
}

nav ul li a .cuarto {
	background: #b52424;
}

nav ul li a .quinto {
	background: #a39481;
}

nav ul li a .sexto {
	background: #7a6236;
}

.sub_directivas {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.sub_tecnicas {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.sub_administrativas {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.sub_amigos {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.c_1 {
    writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: sideways-lr;
}

.logo {
	/*background: #000000;*/
	background-color: rgba(125,125,125,0.5);
	width: 20.5%;
	
	margin-left: 0.5%;
	position: relative;
}

.lateral{
position: fixed;
right:0;
top: 35%;
z-index: 2000;
margin-right: 0.5%;
}

.lateral ul {
	list-style: none;
}

.lateral ul li a {
	display: inline-block;
	color: #fff;
	background-color: #000;
	padding:  20px 15px;
	text-decoration: none;
	font-size: 20px; 
}

.lateral ul li .icon-home:hover {background:#006168;}
.lateral ul li .icon-stats-bars:hover {background:#db7631;}
.lateral ul li .icon-books:hover {background:#911100;}
.lateral ul li .icon-exit:hover {background:#006168;}

.lateral ul li a{
	background-color: rgba(0,0,0,0.4);
}

.c_proy{
	background-color: rgba(0,0,0,0.4);
	width: 20.5%;
	margin-left: 0.5%;
	margin-top: 0.5%;
	height: 490px;
	right: 79.5%;
}

.Group, .c_proy table > tbody > tr > td > a{
	color: #fff;
	text-decoration: none;
	font-family: FreightSans;
}

.cproy > table > tbody > tr > td > a {
	width: 100%;
}

.Group{
	background-color: #323A55;
	width: 100%;
	border-radius: 5px;
	padding-left: 5px; 
}

.GI{
	height: 37%;
}

.AC{
	height: 32%;
}

.DI{
	height: 31%;
}

.c_1{
	color: #fff;
	font-family: FreightSans;
	background-color: #52345a;
}

.link{
	padding-left: 5px;
}

.link:hover{
	background: rgba(104,60,167,0.35);
	cursor: pointer;
}
.c_barra {
	position: relative;
	bottom: 490px;
	height: ;
}

.barra1 :hover{
	background: #808080 ;
}
.barra2 :hover{
	background: #808080 ;
}
.barra3 :hover{
	background: #808080 ;
}
.barra4 :hover{
	background: #808080 ;
}
.barra5 :hover{
	background: #808080 ;
}
.barra6 :hover{
	background: #808080 ;
}
.barra7 :hover{
	background: #808080 ;
}

.caja {
	background: rgba(0,0,0,0.4);
	position: absolute;
	left: 21.5%;
	bottom: 10px;
	margin-top: 150px;
	width: 73.5%;
	height: 425px;
	font-family: FreightSans;
}

.area_m1, .area_m2{
	position: relative;
	background: #839E85;
	display: inline-block;
	height: 40px;
	margin-top: 1%;
	vertical-align: middle;
	color:#fff;

}

.area_m1{
	width: 64.6%;
	margin-left: 2.5%;
	font-size: 20px;
	padding-left: 1%;
	padding-top: .7%;
	font-size: 22px;
	
}

.area_m2{
	width: 30%;
	margin-right: 0%;
	font-size: 20px;	
	padding-top: .7%;
	padding-left: 1%;
}

.caja2_1{
	background: rgba(253, 245, 230,0.5);
	border-radius: 7px;
	position: relative;
	left: 2.5%;
	bottom: 0px;
	top: -10px;
	width: 45%;
	height: 350px;
}


.caja2_1 > p {
	background: #8FBC8F;
	position: relative;
	top:12px;
	margin: 5%;
	width: 65%;
	border-radius: 5px;
	height: 30px;
	font-size: 20px;
	padding-left: 3%;
	padding-top: 3px;
}

.caja2_2{
	background: rgba(255, 255, 255, 0.6);
	border-radius: 7px;
	position: relative;
	left: 2.5%;
	bottom: 0px;
	top: 0%;
	width: 95%;
	height: 280px;
}
.caja_boton {
	background: #fdf5e6;
	position: absolute;
	width: 95%;
	font-size: 25px;
	text-decoration: none;
	color:#336600;
	border-radius: 7px;
	margin-top: 10px;
	margin-left: 2%;
	height: 40px;
	padding-top: 3px;
	padding-left: 10%;
}

.icon-pencil{
	font-size: 30px;
	padding-left: 15%;
}

.caja2_2 p {
	
}
.caja2_3_1{
	top: 65px;
	position: relative;
	background: #ffffcc;
	width: 95%;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 2%;
	height: 25px;
	padding-top: 3px;
	
}

.solicitud{
	width: 12%;
	border-radius: 4px;
	right: 0;
	margin-left:24%;
	margin-right:0%;
}

.caja2_3_2{
	top: 65px;
	position: relative;
	background: #e6ffcc;
	width: 95%;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 2%;
	height: 25px;
	padding-top: 3px;	
}
.solicitud2{
	width: 12%;
	border-radius: 4px;
	right: 0;
	margin-left:29.5%;
	margin-right:0%;
}

.caja2_3_3{
	top: 65px;
	position: relative;
	background: #ffccb3;
	width: 95%;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 2%;
	height: 25px;
	padding-top: 3px;
}
.solicitud3{
	width: 12%;
	border-radius: 4px;
	right: 0;
	margin-left:29%;
	margin-right:0%;
}

.caja2_3_4{
	top: 65px;
	position: relative;
	background: #ffe6ff;
	width: 95%;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 2%;
	height: 25px;
	padding-top: 3px;
}
.solicitud4{
	width: 12%;
	border-radius: 4px;
	right: 0;
	margin-left:22.3%;
	margin-right:0%;
}

.caja2_3_5{
	top: 65px;
	position: relative;
	background: #ccffff;
	width: 95%;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 2%;
	height: 25px;
	padding-top: 3px;
}
.solicitud5{
	width: 12%;
	border-radius: 4px;
	right: 0;
	margin-left:45%;
	margin-right:0%;
}

.caja2_3_6{
	top: 65px;
	position: relative;
	background: #cc66cc;
	width: 95%;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 2%;
	height: 25px;
	padding-top: 3px;
}
.solicitud6{
	width: 12%;
	border-radius: 4px;
	right: 0;
	margin-left:48.5%;
	margin-right:0%;
}


.caja3_1{
	background: rgba(253, 245, 230,0.5);
	border-radius: 7px;
	position: absolute;
	left: 52%;
	bottom: 0px;
	top: 65px;
	width: 45%;
	height: 350px;
}
.caja3_1 > p {
	background: #8FBC8F;
	position: relative;
	top: -10px;
	margin: 5%;
	width: 65%;
	border-radius: 5px;
	height: 30px;
	font-size: 20px;
	padding-left: 3%;
	padding-top: 3px;
}

.caja3_2{
	background: rgba(255, 255, 255,0.6);
	border-radius: 7px;
	position: relative;
	left: 2.5%;
	bottom: 0px;
	top: -20px;
	width: 95%;
	height: 280px;
}
.caja3_boton {
	background: #fdf5e6;
	position: absolute;
	width: 95%;
	font-size: 25px;
	text-decoration: none;
	color:#336600;
	border-radius: 7px;
	margin-top: 10px;
	margin-left: 2%;
	height: 40px;
	padding-top: 3px;
	padding-left: 10%;
}

.icon-coin-dollar{
	font-size: 30px;
	padding-left: 15%;
}

.caja3_2 p {
	
}
.caja3_3_1{
	top: 55px;
	position: relative;
}
.caja3_3_2{
	margin-top: 55px;	
}

.area_m1_2, .area_m2_2{
	position: relative;
	background: #FF8C00;
	display: inline-block;
	height: 40px;
	margin-top: 1%;
	vertical-align: middle;
	color:#fff;

}

.area_m1_2{
	width: 95%;
	margin-left: 2.5%;
	font-size: 20px;
	padding-left: 1%;
	padding-top: .7%;
	font-size: 22px;
	
}

.area_m2_2{
	width: 30%;
	margin-right: 0%;
	font-size: 20px;	
	padding-top: .7%;
	padding-left: 1%;
}

.caja2_1_2{
	background: rgba(253, 245, 230,0.5);
	border-radius: 7px;
	position: relative;
	left: 2.5%;
	bottom: 0px;
	top: 10px;
	width: 95%;
	height: 350px;
	overflow: scroll;
}

.E_App{
	width: 16.66%;
	background: rgba(143, 188, 143, 0.8);
	color: #FFF;
}

.C_app{
	color: #FFF;
	background: rgba(0,0,0,0.3);
}


.caja2_1_2 > p {
	background: #8FBC8F;
	position: relative;
	top:12px;
	margin: 5%;
	width: 65%;
	border-radius: 5px;
	height: 30px;
	font-size: 20px;
	padding-left: 3%;
	padding-top: 3px;
}